body{
    justify-content: center;
    align-items: center;
    margin: 0;
}

header{
    display:flex;
    justify-content:space-between;
    margin: 0 20px;
    .logo{
        width: 75px;
    }
    input{
        width: 500px;
        height: 50px;
        margin-top: 20px;
        border: solid 2px;
        border-radius: 18px;
    }
}

#loading {
    height: 75svh;
    display:flex;
    justify-content:center;
    align-items: center;
    img{
        width: 600px;
    }
}

#gears{
    display: none;
    div{
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: 100px 210px 0;
    border: 2px solid;
    border-radius: 28px;
    }
    .gear-name{
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content: center;
    }
    .gear-description{
        font-size: 22px;
        font-weight: 200;
        margin: 20px;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
    }
}

#fetch-button{
    padding: 29px;
    margin: 20px 60px;
    color: white;
    font-size: 22px;
    background: blue;
}